
.resources-container {
    padding: 5rem 1.5rem;
    background-color: hsl(var(--primary));
    text-align: center;
}

.section-heading__resources {
    color: hsl(var(--white));
}

.resources-text {
    color: hsl(var(--white));
    font-size: 1.25rem;
}

.button-cta__profile {
    color: hsl(var(--green-1));
    background-color: hsl(var(--secondary));
    transition: var(--btn-transition);
}

.button-cta__profile:hover {
    background-color: #1F4D4D;
}