.resources-container {
  padding: 4rem 1.5rem;
  background-color: hsl(var(--primary));
  text-align: center;
}

.resources-container__inner {
  max-width: 56rem;
  margin: 0 auto;
}

.resources-container h2 {
  color: hsl(var(--white));
}

.resources-container p {
  color: hsl(var(--white));
  font-size: 1.25rem;
}

.button-cta__profile {
  color: hsl(var(--green-1));
  background-color: hsl(var(--secondary));
  transition: var(--btn-transition);
}

.button-cta__profile:hover {
  background-color: #1f4d4d;
}