.service-container {
    padding: 5rem 1.5rem;
    background-color: var(--muted);
}

.service-grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 2rem;
}

.feature-card {
    --radius: 0.75rem;
    padding: 2rem;
    background-color: hsl(var(--card));
    border-radius: var(--radius);
    border: 1px solid var(--soft-white);
     box-shadow: 
    0 4px 8px rgba(0, 0, 0, 0.04),
    0 12px 28px rgba(0, 0, 0, 0.08);
}

.lucide-brain, .lucide-users, .lucide-calendar {
    width: 3rem;
    height: 3rem;
}

.feature-card h3 {
    color: var(--primary);
    font-weight: var(--fw-medium-2);
    font-size: var(--fs-h3);
    line-height: var(--lh-h3);
    margin-top: 1rem;
}

.feature-card p {
    color: var(--green-1);
    margin-top: 1rem;
    font-weight: var(--fw-medium);
}
