.service-container {
    padding: 4rem 1.5rem;
    background-color: var(--muted);
}

.service-container__inner {
    max-width: 75rem;
    margin: 0 auto;
    text-align: center;
}

.service-grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 2rem;
}

.feature-card {
    --radius: 0.75rem;
    padding: 2rem;
    background-color: hsl(var(--card));
    border-radius: var(--radius);
    border: 1px solid hsl(var(--primary)/0.1);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    transition: all 0.3s ease-in-out;
}

.feature-card:hover{
    box-shadow: 
    0 4px 8px rgba(0, 0, 0, 0.04),
    0 12px 28px rgba(0, 0, 0, 0.08);
}

.feature-card h3 {
    --fs-h3: 1.375rem;
    --lh-h3: 2rem;
    color: hsl(var(--primary));
    font-weight: var(--fw-medium-2);
    font-size: var(--fs-h3);
    line-height: var(--lh-h3);
    margin-top: 1.25rem;
    text-align: left;
}

.feature-card p {
    color: hsl(var(--green-1));
    margin-top: 1.25rem;
    font-weight: var(--fw-medium);
    text-align: left;
}

/* Card Icon Styling */
.icon-flower {
    color: hsl(var(--pink))
}

.icon-tree {
    color: hsl(var(--primary));
}

.icon-sun {
    color: hsl(var(--accent));
}

/* ==========>> RESPONSIVE <<==========  */
@media (max-width: 770px) {
     .service-grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (max-width: 670px) {
     .service-grid {
    grid-template-columns: 1fr;
    }
}