/* HERO SECTION */
.hero {
    padding: 3.75rem 1.5rem;
    margin: 0;
    min-height: calc(100vh - 81px);
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.hero-illustration {
  display: flex;
  justify-content: center;
  position: relative;
}

.hero-therapist {
  width: 600px;
  max-width: 100%;
  height: auto;
  position: relative;
  z-index: 2;
}

.hero-blob {
  position: absolute;
  width: 520px;
  top: 55px;
  z-index: 1;
  opacity: 0.9;
}

.hero-container {
    max-width: 56rem;
    margin: 0 auto;
    text-align: center;
}

.hero-title {
    /* white-space: nowrap; */
    font-family: "Merriweather", "Poppins", sans-serif;
    font-size: 4rem;
    line-height: 1.2;
    font-weight: var(--fw-dark);
    color: hsl(var(--green-1));
}

.hero-text {
    margin: 2rem auto 0 auto;
    font-size: 1.25rem;
    color: hsl(var(--primary-alt));
    font-weight: var(--fw-light);
}

.text-primary {
    color: hsl(var(--primary));
}

/* ==========>> RESPONSIVE <<==========  */
@media (max-width: 670px) {
    .hero-title {
        font-size: 3rem;
    }
}
